# Heroes of Pymoli Data Analysis 
1. The majority of purchases are bought by people aged 15-24
2. Males make, by a large margin, the main gender to play the game.
3. The item (Oathbreaker, Last Hope of the Breaking Storm) is the most profitable as well as the most popular item

In [1]:
%load_ext nb_black

In [2]:
import os
import pandas as pd

In [4]:
path = os.path.join("Resources", "purchase_data.csv")

In [5]:
df=pd.read_csv(path)

In [6]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [33]:
PlayerCount = len(df["SN"].unique())
playercount_total = pd.DataFrame({"Player Count": [PlayerCount]})
playercount_total["Player Count"] = playercount_total["Player Count"].map("{:,}".format)
playercount_total

  Player Count
0          576

In [21]:
df_clean=df.loc[:,["Gender","SN","Age"]]
df_clean= df_clean.drop_duplicates()
numberofplayer=df_clean.count()[1]
numberofplayer

576

In [8]:
#total Player count = 526

In [9]:
### Purchasing Analysis (Total)

In [10]:
 NumberofUniqueItems = len(df["Item Name"].unique())
NumberofUniqueItems

179

In [11]:
AveragePurchasePrice = df["Price"].mean()
AveragePurchasePrice

3.050987179487176

In [12]:
TotalNumberofPurchases = len(df["Item Name"])
TotalNumberofPurchases

780

In [13]:
Revenue = df["Price"].sum()
Revenue

2379.77

In [27]:
#Number of Unique Items=179
#Average Purchase Price=3.050987179487176
#Total Number of Purchases=780
#Revenue =2379.77

# Create new DataFrame
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [NumberofUniqueItems],
                                           "Average Price": [AveragePurchasePrice],
                                           "Number of Purchases": [TotalNumberofPurchases],
                                           "Total Revenue": [Revenue]})
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:,.2f}".format)
Purchasing_Analysis_Total["Number of Unique Items"] = Purchasing_Analysis_Total["Number of Unique Items"].map("{:,}".format)
Purchasing_Analysis_Total["Number of Purchases"] = Purchasing_Analysis_Total["Number of Purchases"].map("{:,}".format)

Purchasing_Analysis_Total

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179         $3.05                 780     $2,379.77

In [ ]:
### Gender Demographics

In [34]:
totalGender = df_clean["Gender"].value_counts()
total_precent=totalGender/ numberofplayer

In [ ]:
MalePlayerscount=  df["Gender"].value_counts()["Male"]
 
MalePlayerscount

In [ ]:
FemalePlayerscount=  df["Gender"].value_counts()["Female"]
 
FemalePlayerscount

In [ ]:
OtherNonDisclosedPlayerscount=  df["Gender"].value_counts()["Other / Non-Disclosed"]
 
OtherNonDisclosedPlayerscount

In [32]:
#Create new DataFrame
GenderDemographics = pd.DataFrame({"Total Gender": totalGender,
                              "total Precentage": total_precent,
                               })
GenderDemographics["total Precentage"] = GenderDemographics["total Precentage"].map("{:,.2%}".format)
GenderDemographics

                       Total Gender total Precentage
Male                            484           84.03%
Female                           81           14.06%
Other / Non-Disclosed            11            1.91%

In [ ]:
# Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Gender

In [36]:
grouped_df = df.groupby(["Gender"])

# Data Manipulation
purchCount = grouped_df["SN"].count()
purchPrice = grouped_df["Price"].mean()
purchValue = grouped_df["Price"].sum()

# Normalize data by deleting all duplicates adn resort
duplicate = df.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicate.groupby(["Gender"])

# Find normalized data
purchNorm = (grouped_df["Price"].sum() / grouped_dup["SN"].count())

# Create new DataFrame
AveragePurchaseTotalperPerson = pd.DataFrame({"Purchase Count": purchCount,
                              "Average Purchase Price": purchPrice,
                              "Total Purchase Value": purchValue,
                              "Normalized Totals": purchNorm})

# DataFrame formatting
AveragePurchaseTotalperPerson["Average Purchase Price"] = AveragePurchaseTotalperPerson["Average Purchase Price"].map("${:.2f}".format)
AveragePurchaseTotalperPerson["Total Purchase Value"] = AveragePurchaseTotalperPerson["Total Purchase Value"].map("${:.2f}".format)
AveragePurchaseTotalperPerson["Normalized Totals"] = AveragePurchaseTotalperPerson["Normalized Totals"].map("${:.2f}".format)
AveragePurchaseTotalperPerson = AveragePurchaseTotalperPerson[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
AveragePurchaseTotalperPerson

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [37]:
# Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

In [38]:
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
binner_df = df.copy()
binner_df["Age Groups"] = pd.cut(binner_df["Age"], bins, labels=binLab)
group_bin = binner_df.groupby(["Age Groups"])

# Data manipulation
binnerCount = group_bin["SN"].count()
countTotal = df["SN"].count()
percentage = (binnerCount / countTotal) * 100
percentage

# Create new DataFrame
AveragePurchasebyAgeGroup = pd.DataFrame({"Total Count": binnerCount,
                         "Percentage of Players": percentage})

# DataFrame formatting
AveragePurchasebyAgeGroup["Percentage of Players"] = AveragePurchasebyAgeGroup["Percentage of Players"].map("{:.2f}%".format)
AveragePurchasebyAgeGroup.head(20)

            Total Count Percentage of Players
Age Groups
Under 10             32                 4.10%
10 - 14              54                 6.92%
15 - 19             200                25.64%
20 - 24             325                41.67%
25 - 29              77                 9.87%
30 - 34              52                 6.67%
35 - 39              33                 4.23%
Over 40               7                 0.90%

In [39]:
# Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [41]:
# Binning
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
binning_df = df.copy()
binning_df["Age Groups"] = pd.cut(binning_df["Age"], bins, labels=binLab)
binColumn = pd.cut(binning_df["Age"], bins, labels=binLab)
grouped_bin = binning_df.groupby(["Age Groups"])

# Data Manipulation
binPCount = grouped_bin["Age"].count()
binPAver = grouped_bin["Price"].mean()
binPTotal = grouped_bin["Price"].sum()

# Normalize data by deleting duplicates for new counts
binningduplicate = df.drop_duplicates(subset='SN', keep="first")
binningduplicate["Age Groups"] = pd.cut(binningduplicate["Age"], bins, labels=binLab)
binningduplicate = binningduplicate.groupby(["Age Groups"])

binningNorm = (grouped_bin["Price"].sum() / binningduplicate["SN"].count())
binningNorm

# Create new DF and format
TopFiveSpender = pd.DataFrame({"Purchase Count": binPCount,
                         "Average Purchase Price": binPAver,
                         "Total Purchase Value": binPTotal,
                         "Normalized Totals": binningNorm})

TopFiveSpender["Average Purchase Price"] = TopFiveSpender["Average Purchase Price"].map("${:.2f}".format)
TopFiveSpender["Total Purchase Value"] = TopFiveSpender["Total Purchase Value"].map("${:.2f}".format)
TopFiveSpender["Normalized Totals"] = TopFiveSpender["Normalized Totals"].map("${:.2f}".format)
TopFiveSpender = TopFiveSpender[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
TopFiveSpender.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Groups,,,,
Under 10,32,$3.40,$108.96,$4.54
10 - 14,54,$2.90,$156.60,$3.82
15 - 19,200,$3.11,$621.56,$4.14
20 - 24,325,$3.02,$981.64,$4.23
25 - 29,77,$2.88,$221.42,$3.75

In [42]:
#  Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [49]:
groupedBySN = df.groupby(["SN"])
groupedSNCount = groupedBySN["Item ID"].count()
groupedSNTotal = groupedBySN["Price"].sum()
groupedSNAvg = (groupedSNTotal / groupedSNCount)

# Build DF and format
FivemostpopularitemsbyPC = pd.DataFrame({"Purchase Count": groupedSNCount,
                         "Average Purchase Price": groupedSNAvg,
                         "Total Purchase Value": groupedSNTotal})

FivemostpopularitemsbyPC =FivemostpopularitemsbyPC.sort_values("Total Purchase Value", ascending=False) 
FivemostpopularitemsbyPC["Average Purchase Price"] = FivemostpopularitemsbyPC["Average Purchase Price"].map("${:.2f}".format)
FivemostpopularitemsbyPC["Total Purchase Value"] = FivemostpopularitemsbyPC["Total Purchase Value"].map("${:.2f}".format)
FivemostpopularitemsbyPC = FivemostpopularitemsbyPC[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
FivemostpopularitemsbyPC.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [48]:
#  Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [51]:
# Data manipulation
groupItem = df.groupby(["Item ID", "Item Name"])
groupItemC = groupItem["SN"].count()
groupPriceSum = groupItem["Price"].sum()
groupItemP = (groupPriceSum / groupItemC)
groupItemV = (groupItemP * groupItemC)

# New DF with formatting
FivemostpopularitemsbyPI = pd.DataFrame({"Purchase Count": groupItemC,
                          "Item Price": groupItemP,
                          "Total Purchase Value": groupItemV})

FivemostpopularitemsbyPI = FivemostpopularitemsbyPI.sort_values("Purchase Count", ascending=False) 
FivemostpopularitemsbyPI["Item Price"] = FivemostpopularitemsbyPI["Item Price"].map("${:.2f}".format)
FivemostpopularitemsbyPI["Total Purchase Value"] =FivemostpopularitemsbyPI["Total Purchase Value"].map("${:.2f}".format)
FivemostpopularitemsbyPI = FivemostpopularitemsbyPI[["Purchase Count", "Item Price", "Total Purchase Value"]]
FivemostpopularitemsbyPI.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16